Importamos librerias

In [1]:
import json
import numpy as np
import pandas as pd

Extraer y explorar datos de nuestro csv

In [3]:
items_df1= pd.read_csv('Datasets/user_items.csv')

In [4]:
items_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
 4   playtime_2weeks   int64
 5   steam_id          int64
 6   items_count       int64
dtypes: int64(5), object(2)
memory usage: 275.2+ MB

In [5]:
items_df1.tail()

,user_id,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count
5153204,76561198329548331,346330,BrainBread 2,0,0,76561198329548331,7
5153205,76561198329548331,373330,All Is Dust,0,0,76561198329548331,7
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4,76561198329548331,7
5153208,76561198329548331,519140,Minds Eyes,3,3,76561198329548331,7

Buscamos valores nulos

In [6]:
val_null1=items_df1.isnull().sum()
print(val_null1)

user_id             0
item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
steam_id            0
items_count         0
dtype: int64

In [7]:
#Eliminamos las columnas que no necesitamos
items_df2=items_df1.drop(columns=["playtime_2weeks"])
items_df2

,user_id,item_id,item_name,playtime_forever,steam_id,items_count
0,76561197970982479,10,Counter-Strike,6,76561197970982479,277
1,76561197970982479,20,Team Fortress Classic,0,76561197970982479,277
2,76561197970982479,30,Day of Defeat,7,76561197970982479,277
3,76561197970982479,40,Deathmatch Classic,0,76561197970982479,277
4,76561197970982479,50,Half-Life: Opposing Force,0,76561197970982479,277
...,...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,76561198329548331,7
5153205,76561198329548331,373330,All Is Dust,0,76561198329548331,7
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,76561198329548331,7
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,76561198329548331,7
5153208,76561198329548331,519140,Minds Eyes,3,76561198329548331,7

In [11]:
items_df2.to_csv(r'Datasets\user_items_EtL.csv', index=False, encoding='utf-8')