In [1]:
#importamos librerias
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MultiLabelBinarizer

In [11]:
#importamos el dataset
df_modelo = pd.read_csv('Datasets/modelo.csv')

In [12]:
df_modelo['item_id']=df_modelo['item_id'].astype('string')
df_modelo.head()

  item_id             app_name      genres
0  761140  Lost Summoner Kitty      Action
1  761140  Lost Summoner Kitty      Casual
2  761140  Lost Summoner Kitty       Indie
3  761140  Lost Summoner Kitty  Simulation
4  761140  Lost Summoner Kitty    Strategy

In [13]:
df_modelo1= pd.get_dummies(df_modelo, columns=["genres"], prefix="")
df_modelo1.replace({True: 1, False: 0}, inplace=True)
df_modelo1

,item_id,app_name,_Accounting,_Action,_Adventure,_Animation &amp; Modeling,_Audio Production,_Casual,_Design &amp; Illustration,_Early Access,...,_Photo Editing,_RPG,_Racing,_Simulation,_Software Training,_Sports,_Strategy,_Utilities,_Video Production,_Web Publishing
0,761140,Lost Summoner Kitty,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,761140,Lost Summoner Kitty,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,761140,Lost Summoner Kitty,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,761140,Lost Summoner Kitty,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,761140,Lost Summoner Kitty,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71547,610660,Russian Roads,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71548,610660,Russian Roads,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
71549,610660,Russian Roads,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
71550,658870,EXIT 2 - Directions,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
71551,658870,EXIT 2 - Directions,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_modelo1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71552 entries, 0 to 71551
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   item_id                     71552 non-null  string
 1   app_name                    71552 non-null  object
 2   _Accounting                 71552 non-null  int64
 3   _Action                     71552 non-null  int64
 4   _Adventure                  71552 non-null  int64
 5   _Animation &amp; Modeling   71552 non-null  int64
 6   _Audio Production           71552 non-null  int64
 7   _Casual                     71552 non-null  int64
 8   _Design &amp; Illustration  71552 non-null  int64
 9   _Early Access               71552 non-null  int64
 10  _Education                  71552 non-null  int64
 11  _Free to Play               71552 non-null  int64
 12  _Indie                      71552 non-null  int64
 13  _Massively Multiplayer      71552 non-null  int64
 14  _Photo Editing              71552 non-null  int64
 15  _RPG                        71552 non-null  int64
 16  _Racing                     71552 non-null  int64
 17  _Simulation                 71552 non-null  int64
 18  _Software Training          71552 non-null  int64
 19  _Sports                     71552 non-null  int64
 20  _Strategy                   71552 non-null  int64
 21  _Utilities                  71552 non-null  int64
 22  _Video Production           71552 non-null  int64
 23  _Web Publishing             71552 non-null  int64
dtypes: int64(22), object(1), string(1)
memory usage: 13.1+ MB

In [14]:
df_modelo2= df_modelo1.groupby(["item_id","app_name"]).sum().reset_index()#Resumimos los datos y obtenemos una vista general de las tendencias
df_modelo2.head(10)

,item_id,app_name,_Accounting,_Action,_Adventure,_Animation &amp; Modeling,_Audio Production,_Casual,_Design &amp; Illustration,_Early Access,...,_Photo Editing,_RPG,_Racing,_Simulation,_Software Training,_Sports,_Strategy,_Utilities,_Video Production,_Web Publishing
0,10,Counter-Strike,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,Rag Doll Kung Fu,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100400,Silo 2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10090,Call of Duty: World at War,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,100980,3D-Coat V4.8,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,10100,King's Quest™ Collection,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,10110,Space Quest™ Collection,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,10120,Aces of the Galaxy™,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,10130,TimeShift™,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10140,3D Ultra™ Minigolf Adventures,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
df_modelo2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28850 entries, 0 to 28849
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   item_id                     28850 non-null  string
 1   app_name                    28850 non-null  object
 2   _Accounting                 28850 non-null  int64
 3   _Action                     28850 non-null  int64
 4   _Adventure                  28850 non-null  int64
 5   _Animation &amp; Modeling   28850 non-null  int64
 6   _Audio Production           28850 non-null  int64
 7   _Casual                     28850 non-null  int64
 8   _Design &amp; Illustration  28850 non-null  int64
 9   _Early Access               28850 non-null  int64
 10  _Education                  28850 non-null  int64
 11  _Free to Play               28850 non-null  int64
 12  _Indie                      28850 non-null  int64
 13  _Massively Multiplayer      28850 non-null  int64
 14  _Photo Editing              28850 non-null  int64
 15  _RPG                        28850 non-null  int64
 16  _Racing                     28850 non-null  int64
 17  _Simulation                 28850 non-null  int64
 18  _Software Training          28850 non-null  int64
 19  _Sports                     28850 non-null  int64
 20  _Strategy                   28850 non-null  int64
 21  _Utilities                  28850 non-null  int64
 22  _Video Production           28850 non-null  int64
 23  _Web Publishing             28850 non-null  int64
dtypes: int64(22), object(1), string(1)
memory usage: 5.3+ MB

In [23]:
df_modelo2['item_id']=df_modelo2['item_id'].astype('string')
df_modelo2['item_id']=df_modelo2['item_id'].astype('int')

In [25]:
df_modelo2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28850 entries, 0 to 28849
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   item_id                     28850 non-null  int32
 1   app_name                    28850 non-null  object
 2   _Accounting                 28850 non-null  int64
 3   _Action                     28850 non-null  int64
 4   _Adventure                  28850 non-null  int64
 5   _Animation &amp; Modeling   28850 non-null  int64
 6   _Audio Production           28850 non-null  int64
 7   _Casual                     28850 non-null  int64
 8   _Design &amp; Illustration  28850 non-null  int64
 9   _Early Access               28850 non-null  int64
 10  _Education                  28850 non-null  int64
 11  _Free to Play               28850 non-null  int64
 12  _Indie                      28850 non-null  int64
 13  _Massively Multiplayer      28850 non-null  int64
 14  _Photo Editing              28850 non-null  int64
 15  _RPG                        28850 non-null  int64
 16  _Racing                     28850 non-null  int64
 17  _Simulation                 28850 non-null  int64
 18  _Software Training          28850 non-null  int64
 19  _Sports                     28850 non-null  int64
 20  _Strategy                   28850 non-null  int64
 21  _Utilities                  28850 non-null  int64
 22  _Video Production           28850 non-null  int64
 23  _Web Publishing             28850 non-null  int64
dtypes: int32(1), int64(22), object(1)
memory usage: 5.2+ MB

In [17]:
similitudes = cosine_similarity(df_modelo2.iloc[:,3:])

In [18]:
similitudes

array([[1.        , 0.        , 0.        , ..., 0.40824829, 0.        ,
        0.70710678],
       [0.        , 1.        , 0.        , ..., 0.40824829, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.40824829, 0.40824829, 0.        , ..., 1.        , 0.54772256,
        0.57735027],
       [0.        , 0.        , 0.        , ..., 0.54772256, 1.        ,
        0.31622777],
       [0.70710678, 0.        , 0.        , ..., 0.57735027, 0.31622777,
        1.        ]])

In [34]:
def recomendacion_juego(item_id):
    juego_elegido= df_modelo2[df_modelo2['item_id'] == item_id] #Filtramos el juego e igualarlo a su ID
    # devolver error en caso de vacio
    if juego_elegido.empty:
        return "El juego con el ID especificado no existe en la base de datos."
    
    similitudes= cosine_similarity(df_modelo2.iloc[:,3:])#Calculamos la matriz de similitud coseno 
    similitudes_count = similitudes[df_modelo2[df_modelo2['item_id'] == item_id].index[0]] #Calculamos la similitud del juego que se ingresa con otros juegos del dataframe
    juegos_similares = similitudes_count.argsort()[::-1][1:6]#Se calcula los índices de los juegos más similares excluyendo al que eligio
    #Obtenemos los nombres de los juegos 5 recomendados
    juegos_recomendados = df_modelo2.iloc[juegos_similares]['app_name']
    
    return {
        "Juegos_recomendados" :juegos_recomendados}

In [35]:
recomendacion_juego(10)

{'Juegos_recomendados': 9654     Arcana Heart 3 LOVE MAX!!!!!
 26542                   Alien Soldier
 26534                  Golden Axe™ II
 9421         Block N Load Theme Music
 9425           Sniper Ghost Warrior 3
 Name: app_name, dtype: object}